<div>
  <h1>List of Users</h1>

  <ul>
    <% @users.each do |user| %>
      <li>
        <a href="/users/<%= user[0] %>"><%= get_capitalized_name(user) %></a>
      </li>
    <% end %>
  </ul>
</div>