body {
  font-family: 'Vollkorn', serif;
  color: 'white';
  margin: auto;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  border: 2px blue solid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 20% 50% 30%; 
  grid-gap: 50px;
}

header {
  grid-area: header;
}

.content {
  grid-area:  content;
}

footer {
  grid-area: footer;  
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 320px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 320px;
    }

    .menu-link {
        position: fixed;
        left: 320px;
        display: none;
    }

    #layout.active .menu-link {
        left: 320px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 320px;
    }
}

