body {
  font-family: 'Vollkorn', serif;
  color: 'white';
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.7em;
  padding: 0;
}

header {
  grid-area: header;
  text-align: left;
  margin-top: 10%;
  padding: 0;
  width: 100%;
}

hr {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  position: relative;
  grid-gap: 10px;
  grid-template-areas: "header"
  "content"
  "footer";
  grid-template-columns: 80%;
  grid-template-rows: 150px 200px 150px;
}

.content {
  grid-area: content;
  width: 100%;
  min-height: 35%;
  margin-left: 0% 10% 0% 10%;
  padding: 10px;
  text-align: left;
}

.user-footer {
  width: 100%;
  grid-area: content;
  margin: 5% 0% 10% 0%;
  text-align: center;
}

.layout-footer {
  width: 100%;
  grid-area: footer;
  margin-top: auto;
  text-align: center;
}

.users {
  margin: 0px;
  padding: 0px;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 320px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 320px;
    }

    .menu-link {
        position: fixed;
        left: 320px;
        display: none;
    }

    #layout.active .menu-link {
        left: 320px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 320px;
    }
}

